.authform
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %h3= t('passwords.forgotten')
    %p= t('passwords.reset_instructions')
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    = f.submit t('passwords.reset'), :class => 'button right'
