.static-page
  %h1 About
  %p This site is built by and for the trans community to easily enable us to find and share resources such as doctors, endocrinologists, gender neutral toilets, mental health professionals, hair removal clinics and much more.

  %p
    It's built on Ruby on Rails using Google Maps for mapping locations and the PostGIS extensions to PostgreSQL to store and search location data. If you want to contribute to development, you can do so here:
    %a{href: 'https://github.com/megahbite/transources'} https://github.com/megahbite/transources
