.static-page
  %h1 Privacy Policy

  %p
    The
    %a{href:"https://transhealth.directory"} transhealth.directory
    site is maintained and operated by the application developers. Contacting them is possible through the
    = link_to 'contact page', contact_path

  %p
    This policy explains what information you may provide and how that information is used in the course of using the
    %a{href:"https://transhealth.directory"} transhealth.directory
    website and how your privacy is protected.

  %p
    You may provide information in two key ways, by:
    %ul
      %li
        registering with
        %a{href:"https://transhealth.directory"} transhealth.directory
        (Registration)
      %li
        commenting on resource pages (Commenting)

  %p
    Users must agree to the Terms and Conditions which includes the following, before providing information in one of the ways set out above.

  %h2 Registration

  %p
    You may register on the
    %a{href:"https://transhealth.directory"} transhealth.directory
    site and log in to contribute to the site by creating new resources or editing existing ones. Registration requires an email address, password and a user name. This information is stored securely by the site to stop abuse from spammers or malicious users and to enable you to comment on and rate resources.

  %h2 Commenting

  %p
    You may comment on resources when logged in, choosing either to attach your username to the comment or to comment anonymously. Your IP address is also attached to the comment in order to prevent abuse. This is provided securely to a third party spam filtering service
    %a{href: "http://akismet.com/"} (Akismet)
    along with the body of your comment but no other identifying information is provided.

  %p
    Your IP address is only viewable by authorised administrators of the site through the admin interface.

  %h2 General

  %p
    Your personal information will never be disclosed to third parties other than as outlined above or as required by law enforcement agencies.

  %p
    You have the right to access and correct any personal information the site holds about you. Please contact us through the
    = link_to 'contact page', contact_path
    to make any such request.
