.static-page
  %h1
    Terms and Conditions
  %h5
    Last updated 2014/10/03
  %h3.list-heading
    The user agrees to the following conditions:

  %ol
    %li
      Users are granted the right to use the
      %a{href:"https://transhealth.directory"} transhealth.directory
      site for their personal user only.
    %li
      By providing information to the site, the user agrees to the
      = link_to "Privacy Policy.", privacy_path
    %li
      The user declares that any information they enter for resources on the site is, to the best of their knowledge, true and correct.
    %li
      The application
      %a{href:"https://transhealth.directory"} transhealth.directory
      is provided as open source software, licensed under the MIT license. A copy of the source code is available at:
      %a{href:"https://github.com/megahbite/transources"} https://github.com/megahbite/transources
    %li
      The user agrees not to make any comment on the site which is defamatory or abusive towards other users.
    %li
      The user agrees not to harm
      %a{href:"https://transhealth.directory"} transhealth.directory,
      introduce malware or to use the site in any harmful or illegal manner. The user must not act in a way that interferes with the operation of the site.
    %li
      The site developers and maintainers may vary these terms of use at any time by posting a revised version at
      %a{href:"https://transhealth.directory"} transhealth.directory
      and such revised terms shall apply either 14 days after the date the revised terms are posted on the website.
