%h4= t('comments.description')
- if @resource.comments.empty?
  .no-comments
    %p= t('comments.none')
- else
  .comments
    - @resource.comments.each do |c|
      -unless c.spam?
        .comment.well
          .body
            = c.text
          .info
            %small
              - if c.user
                = c.user.name
              - else
                = t('common.anonymous')
              &middot;
              = c.created_at
          - if policy(c).destroy?
            .actions
              = form_tag resource_comment_path(@resource, c), method: :delete do
                = submit_tag t('common.actions.delete'), class: "btn btn-link btn-xs"


= simple_form_for([@resource, Comment.new()], html: { class: "form-horizontal" }) do |f|
  = f.error_notification

  .form-group
    .col-xs-12
      = f.input_field :text, style: "width: 100%;", rows: 5
  .checkbox
    %label
      = f.check_box :anonymous
      = t('comments.anonymous_prompt')
  = f.button :submit, class: "btn btn-primary"
