#alert-template.alert{style: "display: none;"}
  %button.close{type: "button", data: {dismiss: "alert"}}
    &times;

.row
  .col-xs-12
    %h3 
      Search
    = text_field_tag 'location', nil, placeholder: "Enter an address..."
    .input-prepend.input-append
      %span.add-on Within
      = number_field_tag 'radius', 20, min: 1, style: "width: 3em;"
      %span.add-on km
    %br
    = button_tag "Search", class: "btn btn-primary js-location-search", type: "button", data: { "loading-text" => "Searching..." }

.row
  .col-md-6.col-xs-12
    .results-map
  .col-md-6.col-xs-12
    %ul.results-list.unstyled
  
