= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_API_KEY']}&sensor=false"

.row
  .col-md-6.col-xs-12
    %h1
      = @resource.title
    
    %p.lead= @resource.description
    .row
      .col-xs-6
        %p
          %strong= "#{t('resources.categories')}:"
          = @resource.categories.map { |c| c.name }.join(', ')

        %p!= @resource.join_address("<br>")
      .col-xs-6
        %a.btn.btn-default.btn-xs{href: url_for(edit_resource_path(@resource))}
          %i.glyphicon.glyphicon-edit
          = t('common.actions.edit')

    .map{data: {lat: @resource.lat, long: @resource.long}}

    

  .col-md-6.col-xs-12
    -# Comments/Reviews
    = render "comments", locals: {resource: @resource}