/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "bootstrap_and_overrides";
@import "select2";
@import "dataTables/jquery.dataTables.bootstrap3";

@import "comment";
@import "home";
@import "resources";

@import "mixins";

.select2-container {
  display: block;
  margin-bottom: 10px;

  .select2-choices {
    @include border-radius(4px);
  }

  &.select2-dropdown-open {
    .select2-choices {
      @include border-bottom-left-radius(0px);
      @include border-bottom-right-radius(0px);
    }
  }
}

