/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
@import "normalize";

// Framework
@import "bourbon";
@import "base";
@import "neat";

// Plugins
@import "select2";
@import "dataTables/extras/dataTables.tableTools";
@import "dataTables/extras/TableTools_JUI";

// Components

@import "components/navigation_bar";
@import "components/alert";
@import "components/content";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.select2-container {
  display: block;
  margin-bottom: 10px;

  .select2-choices {
    border-radius: $base-border-radius;
  }

  &.select2-dropdown-open {
    .select2-choices {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

