// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.map {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.results-map {
  width: 100%;
  height: 600px;
  margin: 10px 0;
}