!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "width=device-width", name: "viewport"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Reset password instructions
    = stylesheet_link_tag "email.css", media: "all"
  %body
    %table.body-wrap
      %tr
        %td
        %td.container{width: "600"}
          .content
            %table.main{cellpadding: "0", cellspacing: "0", width: "100%"}
              %tr
                %td.content-wrap
                  %table{cellpadding: "0", cellspacing: "0", width: "100%"}
                    %tr
                      %td.content-block
                        Hello
                        = @resource.email
                    %tr
                      %td.content-block
                        Someone has requested a link to change your password. You can do this through the link below.
                    %tr
                      %td.content-block
                        = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'btn-primary'
                    %tr
                      %td.content-block
                        If you didn't request this, please ignore this email.
                    %tr
                      %td.content-block
                        Your password won't change until you access the link above and create a new one.
                    %tr
                      %td.content-block
                        — The Trans Health Directory Team
            .footer
              %table{width: "100%"}
                %tr
                  %td.aligncenter.content-block
        %td
