.navbar-header
  %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-1-collapse" } }
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "Transources", root_path, :class => 'navbar-brand'
.collapse.navbar-collapse.navbar-1-collapse
  %ul.nav.navbar-nav
    - if user_signed_in?
      %li
        = link_to t('sessions.logout'), destroy_user_session_path, :method=>'delete'
    - else
      %li
        = link_to t('sessions.login'), new_user_session_path
    - if user_signed_in?
      %li
        = link_to t('registrations.edit'), edit_user_registration_path
    - else
      %li
        = link_to t('registrations.new'), new_user_registration_path
    %li.dropdown
      %a.dropdown-toggle{href: "#", data: { toggle: "dropdown"}}
        = t('resources.description')
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to t('common.actions.search'), root_path
        %li
          = link_to t('common.actions.new'), new_resource_path
