!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Transources"
    %meta{:content => content_for?(:description) ? yield(:description) : "Transources", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_name if asset_path(controller_name) and Rails.application.assets.find_asset(controller_name)
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row
          .col-xs-12
            = render 'layouts/messages'
            = yield
        %footer
      / ! end of .container
    / ! end of #main
